

.borda {
  position: fixed;      
  top: 0;
  left: 0;
  width: 100vw;         
  height: 100vh;        
  box-sizing: border-box; 
  border: 5px solid #FF0000; 
  pointer-events: none; 
  z-index: 9999;        
  animation: rainbow 10s ease-in-out infinite;

}
@keyframes rainbow {
  0%   { border: 5px solid #8af0f000;}
  12.50%  { border: 20px solid #8af0f0;}   
  25.00%  { border: 5px solid #8af0f000;}   
  37.50%  { border: 20px solid #FFB3D9;}    
  50.00% { border: 5px solid #8af0f000;}   
  62.50%  { border: 20px solid #8af0f0;}    
  75.00%  { border: 5px solid #8af0f000;} 
  87.50%  { border: 20px solid #FFB3D9;}   
  100.00% { border: 5px solid #8af0f000;} 
 
 
}

.fundo{
    
    text-align: center;
    margin: 25px;
            
}
.tema{
    
    width: 70px;
    height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: #8af0f0;
    color: white;
    border: 3px solid #78d1d1;
    transition: .2s ease-in-out;
    

}
.tema:hover{
    cursor: pointer;
    width: 50%;
    height: 30px;
    animation: tema 1s linear infinite, borda 1s linear infinite;
    color: rgb(133, 133, 133);
}

@keyframes tema {
  0%   { border: solid #ff9999; }
  10%  { border: solid #ffc285; }
  20%  { border: solid #ffff99; }
  30%  { border: solid #c9fca4; }
  40%  { border: solid #99ffcc; }
  50%  { border: solid #99f2ff; }
  60%  { border: solid #99adff; }
  70%  { border: solid #ad99ff; }
  80%  { border: solid #d199ff; }
  90%  { border: solid #ff99c2; }
  100% { border: solid #ff9999; }
}
@keyframes borda {
  0%   { background-color: #FFB3B3; }
  10%  { background-color: #FFD1A3; }
  20%  { background-color: #FFFFB3; }
  30%  { background-color: #D4FFB2; }
  40%  { background-color: #B3FFCC; }
  50%  { background-color: #B3FFFF; }
  60%  { background-color: #B3C6FF; }
  70%  { background-color: #C6B3FF; }
  80%  { background-color: #E0B3FF; }
  90%  { background-color: #FFB3D9; }
  100% { background-color: #FFB3B3; }
}
.caixa {

            border: none; 
            padding: 10px;
            width: 150px;
            margin: 10px auto;
            text-align: center;
            background-color:none;
            
            
            
        }
       

        .botao1 {

            padding:10px 15px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 30px;
            cursor: pointer;
            background-color:transparent;
            color: rgb(255, 151, 238);
            border: none;
            border-radius: 10px;
            transform: scale(1);
            transition: transform 0.1s ease-in, background-color 0.4s ease, color 0.4s ease;
            
        }
        .botao1:hover {

            background-color: rgb(255, 151, 238);
            transform: scale(1.2) rotate(5deg);
            color: rgb(255, 255, 255);
            

          
            
        }

        .botao2 {

            padding:10px 15px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 30px;
            cursor: pointer;
            background-color:transparent;
            color: rgb(255, 151, 238);
            border: none;
            border-radius: 10px;
            transform: scale(1);
            transition: transform 0.1s ease-in, background-color 0.4s ease, color 0.4s ease;
        }
        .botao2:hover {

            background-color: rgb(255, 151, 238);
            transform: scale(1.2) rotate(-5deg);
            color: white;
            
            
        }  
        .botao3 {
            padding:10px 15px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 30px;
            cursor: pointer;
            background-color: transparent;
            color: rgb(255, 151, 238);
            border: none;
            border-radius: 10px;
            transform: scale(1);
            transition: ease 0.1s, background-color 0.4s ease, color 0.4s ease;

        }

        .botao3:hover
        {
            transform: scale(1.2) rotate(5deg);
            background-color: rgb(255, 151, 238);
            color: white;
        }


.caixa2{

    margin: auto;
    text-align: center;
    align-content: center;
    transition: .30s ease;

}


.botao4 {
    

    padding: 5px;
    width: 100px;
    height: 50px;
    background: rgb(252, 107, 131);
    color: white;
    border: none;
    border-radius: 3px;
    font-size:30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: .30s ease;
    
}
.botao4:hover {
    cursor: pointer;
    width: 150px; 
    height: 60px;
    background-color: rgb(255, 123, 145);
}
.caixa2:has(.botao4:hover) .botao5,
.caixa2:has(.botao4:hover) .botao6{
    filter: blur(1px);
    background-color: rgb(221, 72, 97) ;
}




.botao5{

    
    padding: 5px;
    width: 100px;
    height: 50px;
    background: rgb(252, 107, 131);
    color: white;
    border: none;
    border-radius: 3px;
    font-size:30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: .50s ease;

}
.botao5:hover {

    height: 60px;
    cursor: pointer;
    width: 150px;
    background-color: rgb(255, 123, 145);
}
.caixa2:has(.botao5:hover) .botao4,
.caixa2:has(.botao5:hover) .botao6{
    filter: blur(1px);
    background-color: rgb(221, 72, 97) ;
}




.botao6{

    
    padding: 5px;
    width: 100px;
    height: 50px;
    background: rgb(252, 107, 131);
    color: white;
    border: none;
    border-radius: 3px;
    font-size:30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: .30s ease;

}
.botao6:hover{ 
    cursor: pointer;
    width: 150px;
    height: 60px;
    background-color: rgb(255, 123, 145);
    
}
.caixa2:has(.botao6:hover) .botao4,
.caixa2:has(.botao6:hover) .botao5{
    filter: blur(1px);
    background-color: rgb(221, 72, 97) ;
}
